body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(125, 132, 238);
}

.nav {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(187, 190, 235);
  position: absolute;
  top: 0;
  left: 0;
}

.nav h1 {
  font-family: monospace;
  font-size: 30px;
  padding-left: 20px;
}

.nav a {
  font-size: 25px;
  padding-right: 10px;
  text-decoration: none;
  cursor: pointer;
}

.main_container {
  height: 90vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.main_container h1 {
  font-size: 30px;
  font-family: monospace;
  cursor: pointer;
}

.figure_cont {
  height: 320px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: white;
}

.figure-container {
  height: 300px;
  width: 200px;
  fill: transparent;
  stroke: black;
  stroke-width: 4px;
  stroke-linecap: round;
}

.display {
  width: fit-content;
  min-width: 450px;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.box {
  height: 50px;
  width: 50px;
  border-bottom: 4px solid white;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box span {
  font-size: large;
  font-family: monospace;
  font-weight: 400;
  color: white;
}

.wrong-letters-cont {
  width: 80%;
  height: 50px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-diff {
  width: fit-content;
  height: 30px;
  padding: 20px;
}

.notification {
  width: 400px;
  height: 200px;
  background-color: rgb(255, 255, 255);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 30px;
}

#message {
  font-size: 20px;
  text-align: center;
  padding: 20px;
}

.info {
  width: fit-content;
  height: 400px;
  background-color: rgb(255, 255, 255);
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  border-radius: 30px;
}

.info h1 {
  text-align: center;
  padding-top: 20px;
}

.info li {
  font-size: 20px;
  text-align: left;
  padding-top: 15px;
}

.info button {
  height: 50px;
  width: 80px;
  border-radius: 20px;
  cursor: pointer;
}

.buttons {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button {
  height: 100%;
  width: 100px;
  border-radius: 20px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(125, 132, 238);
}

/* Keyboard section */

.keyboard {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.key {
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  cursor: pointer;
  font-family: monospace;
  font-size: 18px;
}

.key.active {
  background-color: #ccc;
}

@media only screen and (max-width: 650px) {
  .keyboard {
    width: 310px;
    display: flex;
    flex-direction: column;
  }
}
